
<div class="hero jumbotron">
	<div class="hero-content">
		<h1 class="title-highlight">Book Club Organizer</h1>
		<h3>Spend more time reading<br> 
		and less time planning.</h3>
		<div class="row">
			<% if !current_user %>
			  	<div class="">
					<%= button_to "Join", new_user_registration_path, :method => "get", class: "hero-button" %>
				</div>
			<% end %>
		</div>
	</div>
</div>
