
<h2>Current Reads</h2>
<h4>See what other clubs are reading.</h4>

<div>
	<% @books.each do |book| %>
		<div class="row">
			<div class="col-sm-1">
				<%= image_tag book.image %>
			</div>
			<div class="col-sm-11">	
				<%= book.title %> by <%= book.author %><br>
				<%= book.description %>
			</div>
		</div>
	<% end %>
</div>