/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
$title-text-color: #98232E;
$accent-text-color: #B85925; 
$light-accent-color: #D6D3D9;
$content-font-size: 18px;
$font-color: #000000;
@import url('https://fonts.googleapis.com/css?family=Lato|PT+Serif');

html {
	font-size: $content-font-size
}

body {
 	padding-top: 50px;
 	color: $font-color;
 	font-family: 'PT+Serif', serif;

 	a {
 		color: $font-color;
 	}

 	a:hover {
 		color: $font-color;
 	}

 	h1, h2, h3, h4 {
 		font-family: 'Lato', sans-serif;
 	}

 }

.hero {
	height: 100vh;
	// background-image: url('openbook.jpg');
	background-size: cover;
	position: relative;
	overflow-y: hidden;
}

.hero-content {
	position: absolute;
  	top: 20%;
  	text-align: center;
  	width: 100%;
  	color: $accent-text-color;
  	-ms-transform: translate(0,-50%); /* IE 9 */;
    -webkit-transform: translate(0,-50%); /* Safari */
    transform: translate(0,-50%);  

}

.hero-button {
	padding: 10px;
	font-size: 24px;
	color: $accent-text-color;
	background-color: #FFFFFF;
	border-radius: 5px;
	margin: 5px;
}

.navbar-default {
	background-color: $light-accent-color;
}

.navbar-brand a {
	color: $title-text-color;
}

.all-books-display {
	margin: 20px;
	padding-top: 10px;
	font-size: $content-font-size;
}

.all-clubs-display {
	margin-top: 20px;
	font-size: $content-font-size;
}

.highlight {
	color: $accent-text-color;
	font-weight: bold;
}

.title-highlight {
	color: $title-text-color;
	font-weight: bold;
}

.bigger-font {
	font-size: $content-font-size;
}

.gap-right {
	margin-right: 15px;
}

#map {
	height: 400px;
	width: 400px;
	margin: 1px;
}

.latitude {
	display: none;
}

.longitude {
	display: none;
}

.club-logo {
	width: 100px;
	height: auto;
	padding: 10px;
}

.clubs {
	height: 250px;
}

.container {
	font-family: 'PT+Serif', serif;
}

.container-fluid {
	font-family: 'PT+Serif', serif;
}

// .select2-container--default .select2-results>.select2-results__options {
// 	min-height: 350px;
// }

@media all and (max-width: 1200px){
	.club-logo {
		width: 75px;
	}

	.clubs {
		height: 300px;
		padding: 15px;
	}
}

@media all and (max-width: 1000px){
	.club-logo {
		width: 65px;
	}

	.clubs {
		height: 325px;
		padding: 10px;
	}

	#map {
	height: 300px;
	width: 300px;
	margin: 1px;
	}

}

@media all and (max-width: 767px){
	.club-logo {
		width: 150px;
	}

	.clubs {
		height: 250px;
		padding: 10px;
	}

	.all-books-display {
		padding: 20px;
	}

	.row-padding {
		padding: 20px;
	}

	#map {
	height: 400px;
	width: 400px;
	margin: 1px;
	}
}

