// Place all the styles related to the Meetings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#booksearch {
	width: 500px;
	.thumb {
		margin: 1em;
		img {
			height: 20px;
		}
	}
}

#book-preview {
	margin: 1em;
	border: 1px solid #ccc;
}